appdirs==1.4.4
asn1crypto==0.24.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.2
enum34==1.1.6
filelock==3.0.12
Flask==1.1.4
idna==2.6
importlib-metadata==2.1.1
importlib-resources==3.3.1
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pathlib2==2.3.5
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.6.2
six==1.16.0
typing==3.10.0.0
virtualenv==20.4.7
Werkzeug==1.0.1
zipp==1.2.0
